{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
<h1>{{ titre }}</h1>

        {% if village is not null %}
            <div class="alert alert-info" role="alert">
                La ville est {{ village }}
               </div>
       {% endif %}
    {{ village }}
       <p>Créer une nouvelle ville</p>
        <form action="/hello" method="post">
            <label for="ville">Ville</label>
            <input type="text" id="ville" name="ville">
            <input type="submit" value="Envoyer">
        </form>
{% endblock %}